SigmaCodebackup3rdSep/flows/customerresponsesurvey.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>c_0038a39a_6cfa_4906_9291_f73e4a319efa</name>
        <choiceText>Bad</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_1b5942f2_f5af_4f5d_ae38_e0e03028ca91</name>
        <choiceText>3</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_890cc953_bf9f_4cea_83ab_ba59f0f09582</name>
        <choiceText>Good</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_98e29540_aac3_4ce7_b6b0_f56d1d542de4</name>
        <choiceText>4</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>c_b05cbda9_4e4f_433c_b030_8752a35c2155</name>
        <choiceText>2</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <decisions>
        <name>d_8d9f2fa5_204f_4887_91ae_93e540933cd1</name>
        <label>my_decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>p_8187eef6_f924_4442_acf4_68c9cc0ecc97</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Next Page</defaultConnectorLabel>
        <rules>
            <name>r_68bccb11_1214_4728_9ec5_5e5a9eafd6b6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>CSAT</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Number</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>q_d7ab5053_121e_4a3a_89c2_dc0329407857</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <label>my_rule</label>
        </rules>
    </decisions>
    <interviewLabel>CustomerResponseSurvey</interviewLabel>
    <label>CustomerResponseSurvey</label>
    <processMetadataValues>
        <name>autoProgressEnabled</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>hasWelcomePage</name>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>overrideActiveVersion</name>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </processMetadataValues>
    <processType>Survey</processType>
    <screens>
        <name>p_8187eef6_f924_4442_acf4_68c9cc0ecc97</name>
        <label>Score Detail Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_26cd2792_3e84_471a_90e1_1cc8c85acc46</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: Arial;&quot;&gt;Could you please tell us what went wrong ?&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_a7ebd5a0_c808_46ba_a03a_094c0595bd46</name>
        <label>Service Feedback Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>p_be73c3b8_2af5_4c7b_b7c6_9bd4fcea5564</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_01c94a0f_aa5e_4a2f_8c60_ec69a3fe0108_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <name>q_01c94a0f_aa5e_4a2f_8c60_ec69a3fe0108</name>
            <choiceReferences>c_0038a39a_6cfa_4906_9291_f73e4a319efa</choiceReferences>
            <choiceReferences>c_b05cbda9_4e4f_433c_b030_8752a35c2155</choiceReferences>
            <choiceReferences>c_1b5942f2_f5af_4f5d_ae38_e0e03028ca91</choiceReferences>
            <choiceReferences>c_98e29540_aac3_4ce7_b6b0_f56d1d542de4</choiceReferences>
            <choiceReferences>c_890cc953_bf9f_4cea_83ab_ba59f0f09582</choiceReferences>
            <dataType>Number</dataType>
            <extensionName>survey:runtimeRating</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: Arial;&quot;&gt;Rate your experience of our timely delivery and Packaging.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <name>q_7819d8d0_cb78_4513_a557_b56679a4e851</name>
            <dataType>String</dataType>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-family: Arial; font-size: 16px;&quot;&gt;Add your comme&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;nts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <processMetadataValues>
                        <name>inputDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>leftHandSideType</name>
                        <value>
                            <stringValue>Rating</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>operatorDataType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <processMetadataValues>
                        <name>rightHandSideType</name>
                        <value>
                            <stringValue>Number</stringValue>
                        </value>
                    </processMetadataValues>
                    <leftValueReference>q_01c94a0f_aa5e_4a2f_8c60_ec69a3fe0108</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <elementReference>c_b05cbda9_4e4f_433c_b030_8752a35c2155</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>p_be73c3b8_2af5_4c7b_b7c6_9bd4fcea5564</name>
        <label>Overall Service Score</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>d_8d9f2fa5_204f_4887_91ae_93e540933cd1</targetReference>
        </connector>
        <fields>
            <processMetadataValues>
                <name>autoProgressAction</name>
                <value>
                    <stringValue>NONE</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>defaultValue</name>
                <value>
                    <elementReference>var_q_d7ab5053_121e_4a3a_89c2_dc0329407857_defaultValue</elementReference>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>max</name>
                <value>
                    <stringValue>10</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>min</name>
                <value>
                    <stringValue>0</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>questionType</name>
                <value>
                    <stringValue>CSAT</stringValue>
                </value>
            </processMetadataValues>
            <name>q_d7ab5053_121e_4a3a_89c2_dc0329407857</name>
            <dataType>Number</dataType>
            <extensionName>survey:cmpInputRuntimeCsat</extensionName>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: Arial;&quot;&gt;Rate the Quality of Product &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>ComponentInput</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <pausedText>Survey paused. To pick up where you left off, refresh this page or click the link in your survey invitation.</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>welcome_page</name>
        <label>Welcome Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>p_a7ebd5a0_c808_46ba_a03a_094c0595bd46</targetReference>
        </connector>
        <fields>
            <name>welcome_question</name>
            <extensionName>survey:runtimeWelcome</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!welcome_question_lref_tt}</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>welcome_page</startElementReference>
    <status>Active</status>
    <textTemplates>
        <name>thankYouDescriptionTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text></text>
    </textTemplates>
    <textTemplates>
        <name>thankYouLabelTextTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;img src=&quot;https://sigma-mvp-dev2-dev-ed--c.documentforce.com/file-asset-public/sigmaerpdev2__thankimage?oid=00D2x000003sFlp&amp;amp;v=1&quot; alt=&quot;thankimage&quot;&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>welcome_question_lref_tt</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;b style=&quot;font-size: 16px; font-family: Arial;&quot;&gt;Would you mind spending your quality time in sharing your valuable feedback which can help us in enhancing the quality of our service or to put a great smile on our faces if you are happy with our service.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/b&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>guestUserLang</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>invitationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>previewMode</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>thankYouDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouDescriptionTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>thankYouLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>{!thankYouLabelTextTemplate}</stringValue>
        </value>
    </variables>
    <variables>
        <name>var_q_01c94a0f_aa5e_4a2f_8c60_ec69a3fe0108_defaultValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_q_d7ab5053_121e_4a3a_89c2_dc0329407857_defaultValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
